
@{
    ViewBag.Title = "Employee";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Employees <span style="font-size: 14px; color: #A9A9A9;">Employees List</span></h2>
<a href="@Url.Action("AddEmployee", "Admin")" class="btn btn-success"><i class="fa fa-plus"></i> Add a new employee</a>
    <div class="card">
        <div class="card-header"><h6>Employees List</h6></div>
        <div class="card-body">



        </div>
    </div>
