
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<link href="~/Content/Calender.css" rel="stylesheet" />
<script>
    var present = @ViewBag.Present;
    var absent = @ViewBag.Absent;
</script>
<script src="~/Scripts/Calender.js"></script>
<h2>Dashboard <span style="font-size: 14px; color: #A9A9A9;">Reports & Statistics</span></h2>
<div class="row">
    <div style="margin: 0px 20px 0px 20px" class="col-md-3 card bg-info text-light">
        <div class="card-header">
            <div class="row">
                <div class="col-md-6">
                    <i style="padding-top: 10px;font-size: 80px;" class="fa fa-users"></i>
                </div>
                <div align="right" style="padding-top: 20px;" class="col-md-6 text-right">
                    <p class="announcement-heading">1</p>
                    <p class="announcement-text">Users</p>
                </div>
            </div>
        </div>
    </div>
    <div style="margin: 0px 20px 0px 20px" class="col-md-3 card bg-danger text-light">
        <div class="card-header">
            <div class="row">
                <div class="col-md-6">
                    <i style="padding-top: 10px;font-size: 80px;" class="fa fa-building"></i>
                </div>
                <div align="right" style="padding-top: 20px;" class="col-md-6 text-right">
                    <p class="announcement-heading">1</p>
                    <p class="announcement-text">Departments</p>
                </div>
            </div>
        </div>
    </div>
    <div style="margin: 0px 20px 0px 20px" class="col-md-3 card bg-success text-light">
        <div class="card-header">
            <div class="row">
                <div class="col-md-6">
                    <i style="padding-top: 10px;font-size: 80px;" class="fa fa-trophy"></i>
                </div>
                <div align="right" style="padding-top: 20px;" class="col-md-6 text-right">
                    <p class="announcement-heading">1</p>
                    <p class="announcement-text">Awards</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container" id="main">
    <div class="card">
        <div class="card-header"><h4>Attendance</h4></div>
        <div class="card-body">
            <p class="text-center">
                <a id="left" href="#">
                    <i class="fa fa-chevron-left"> </i>
                </a>
                <span>&nbsp;</span>
                <span id="month"> </span>
                <span>&nbsp;</span><span id="year"> </span>
                <span>&nbsp;</span><a id="right" href="#">
                    <i class="fa fa-chevron-right"> </i>
                </a>
            </p>
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <table class="table"></table>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header"><h4>Attendance</h4></div>
        <div class="card-body">

        </div>
    </div>
</div>